<% content_for :title, "Damien for Basecamp: your best summer intern" %>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<%= image_tag "text-picture-home.svg", class: "main-image-home" %>
		</div>
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<hr>
			<div class="background-wistia">
				<script src="//fast.wistia.com/embed/medias/6dy4whpi84.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_6dy4whpi84 videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<h2 class="text-center title">Thoughts From Our Applicant</h2>
			<p>Hey, I’m Damien Le Thiec, your summer internship applicant.</p>
			<p>I’m fascinated by how companies work - specifically when they begin not to work. It starts early, often as companies approach 10 people and start taking on considerably more work.</p>
			<p>Here’s the problem: they continue to rely on the communication systems and work methods they used when they were smaller. Winging it worked before. But it doesn’t anymore.</p>
			<p>More people and more work equals more emails, meetings, and interruptions. Stuff slips, communication suffers, everything turns ASAP. This chaos begins to feel like the new normal. But it’s not. Running around with your hair on fire isn’t normal.</p>
			<p>Luckily there’s a better way: Basecamp 3.</p>
			<p>We built Basecamp because we were experiencing these same growing pains. And we wanted them gone! Basecamp’s a unique collection of tools and methods for working together, all baked into a single organized product. No more email, far fewer meetings, and a much better handle on things. Out with chaos, in with order.</p>
			<p>Today, over 100,000 companies run better on Basecamp. It’s a saner, calmer, more organized way to work. We’ve been honing, refining, and improving Basecamp nearly every day for 12 years. There’s a lot of stuff out there, but there’s nothing else like Basecamp 3.</p>
			<p>Please give Basecamp 3 a try for free. I’m 100% certain Basecamp 3 can improve how you run your business. If it doesn’t, I want to hear about it. You can always email me directly at jason@basecamp.com.</p>
			<p>Wishing you all the best,</p>
			<p><%= image_tag "signature.png" %></p>
			<p>Damien Le Thiec, future intern at Basecamp</p>
			<p>P.S. Damien can transform the way your business works - check out what my collaborators say below.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<h2 class="text-center title">Businesses simply run better with Damien</h2>
			<p class="intro">I asked my collaborators <strong>“What’s changed for the better since you started working with Damien?”</strong> Dozens shared their success stories. Here are a just few...
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="comments comments-right">
				<%= image_tag "comment1.svg", id: "comment1" %>
			</div>
			<div class="comments comments-left">
				<%= image_tag "comment2.svg", id: "comment2" %>
			</div>
			<div class="comments comments-right">
				<%= image_tag "comment3.svg", id: "comment3" %>
			</div>
			<div class="comments comments-left">
				<%= image_tag "comment4.svg", id: "comment4" %>
			</div>
		</div>
	</div>
	<hr>
</div>


