<!DOCTYPE html>
<html>
  <head>
    <title>BasecampApplication</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon-32x32.png', type: 'image/png' %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-basecamp">
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
